<nav class="navbar navbar-expand-lg bg-grey sticky-top">
  <img src="https://rsbotspot.com/img/RSBotSpot-Logo.webp" class="nav-logo pr-4"></img>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text pb-0">
    <button class="btn bg-yellow shadow btn-huge"><p class="bold py-0 my-0">COUPONS</p>
    <p class="py-0 mb-0" style="font-size:14px;text-align:center">
      For Proxies & VPSs
    </p>
    </button>

      </span>
  </div>
</nav>
